.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 7px solid #eeeeee;
    border-top-color: #033ddd;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 3s;
    animation-direction: normal;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
