.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 5px solid #eeeeee;
    border-top-color: #033ddd;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
